@import "variables.less";

body {
	background-color: @white;
}

header {
	background-image: url('/img/ti_stripes_alt.png');
	border: 4px solid @white;
	padding: 10px;
	text-align: center;

	#header-logo {
		display: inline-block;
		background-color: @white;
		box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
		border-radius: 10px;
		padding: 15px;

		img {
			height: 100px;
		}
	}
}

footer {
	text-align: center;
	margin: 25px 0 20px 0;

	a {
		color: @dark-text-color;
	}
}