@import "variables.less";

body {
    font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page-heading {
    color: #444;
	text-align: center;
    &.scaled {
        font-size: 28px;
    }
    &.main {
        font-size: 82px;
        font-weight: 400;
        .softer {
            font-weight: normal;
        }
    }
}

.home-page-section {
    margin: 25px 0 10px 0 !important;

	p {
		color: @black;
	}
}

.lectures-page-section {
	a:before {
		content: "" !important;
	}

	.panel-body {
		overflow: hidden;
		padding: 0;
	}

	.timeline-table {
        padding: 0;

		.row {
            padding: 10px 0;
			color: @darker-text-color;

			.time-cell {
				text-align: right;
				font-weight: bold;
			}

			.title-cell {
				text-align: left;
				padding-left: 10px;
				font-weight: bold;
			}

			.lectures-cell {
				//padding: 5px 5px 5px 10px;

				a {
					color: @darker-text-color;
				}

				a:hover {
					text-decoration-color: @darker-text-color;
				}

				.lecture {
					.main-info {
						font-weight: bold;
					}
				}
			}

            .stats-cell {
                text-align: right;
                white-space: nowrap;

                .stats-average, .stats-count {
                    display: inline-block;
                    border-right: 1px solid lighten(@stats-color, 10%);
                    padding: 1px 4px;
                    background-color: @stats-color;
                    color: white;
                }

                .stats-average {
                    border-radius: 4px 0 0 4px;
                }
                .stats-count {
                    border-radius: 0 4px 4px 0;
                }
            }
                
		}

        .lecture-row {
            padding: 2px 0;
        }

        .section { 
            padding: 5px 15px;

            &.active {
                color: @active-session-color;
                padding-left: 5px;
                border-left: 10px solid @active-session-color;

                .row, .row a {
                    color: @active-session-color;
                }
            }
                
            &.break-section {
                background-color: @break-color;
            }

            &.activity-section {
                background-color: @activity-color;
            }

            &.morning-section {
                background-color: @morning-color;
            }

            &.plenary-section, .essential-section {
                background-color: @plenary-color;
            }

            &.parallel-section {
                background-color: @parallel-color;
            }
        }
	}
}

.info-page-section {
    margin-bottom: 10px !important;
	p {
        background-color: #f0f0ff;
        padding: 10px;
        border-radius: 6px;
		color: @black;
	}
}

.evaluation-page-section {
    margin-bottom: 10px !important;

	.question {
		margin: 5px 0 5px 0;

		.question-text {
			color: @black;
			margin-bottom: 5px;
		}

		.evaluation-slider {
			.evaluation-handle {
				width: 60px;
				height: 30px;
				background: @primary-color;
				color: @white;
				font-size: 20px;
				font-weight: bold;
				line-height: 30px;
				text-align: center;
			}
		}

		.evaluation-value {
			text-align: center;
			color: @black;
			font-weight: bold;
			font-size: 20px;
			margin-top: 3px;
		}

		.percentage-indicator {
			display: inline-block;
			font-size: 13px;
			font-weight: bold;
			color: @black;
		}

		.percentage-indicator.left {
			float: left;
			text-align: left;
		}

		.percentage-indicator.right {
			float: right;
			text-align: right;
		}
	}

	.rating-box {
		margin-top: 20px;
        padding-top: 10px;
        min-height: 100px;
		text-align: center;
		background-color: @primary-color;
		color: @white;
		font-size: 18px;

        .glyphicon {
            font-size: 52px;
        }

        &.leftmost {
            border-radius: 8px 0 0 8px;
        }
        &.rightmost {
            border-radius: 0 8px 8px 0;
        }

		#saving-indicator {
			position: absolute;
			left: -37px;
			top: 80px;
			background-color: @saving-indicator-color;
			padding: 6px;
			border-radius: 6px;
			color: @white;
			font-weight: bold;
			display: none;
		}
	}

    .rating-value {
        position: relative;

        font-size: 50px;
        line-height: 90px;
        border-right: 1px solid #ccf;

        span {
            position: absolute;
            left: 25%;
            top: 0;
            font-weight: bold;
        }

        .glyphicon.backgrounded {
            color: lighten(@primary-color, 3%);
            font-size: 100px;
        }
    }

	#description-show-button {
		margin-bottom: 15px;
	}

	#description-row {
		margin-bottom: 10px;
	}

	#feedback-show-button {
		margin-top: 15px;
	}

	#feedback-input-row {
		display: none;
		margin-top: 20px;

		.feedback-hint {
			font-size: 13px;
			text-align: center;
		}

		#feedback-input {
			border-radius: 5px !important;
		}

		#feedback-submit-button {
			margin-top: 5px;
		}
	}

	#feedback-success-row {
		display: none;
		text-align: center;
		margin-top: 15px;
	}
}

@media (max-width: 768px) {
    .page-heading.main {
        font-size: 40px;
    }
    .page-heading.scaled {
        font-size: 24px;
    }

    .evaluation-page-section {
        .rating-value {
            font-size: 40px;

            span {
                left: 0;
                top: 5%;
            }

            .glyphicon.backgrounded {
                font-size: 90px;
                left: -10%;
            }
        }
    }
}
