// OpenMind color scheme import
@import "../../packages/openmind-ui/dist/css/color-niceblue.less";

@white: #ffffff;
@black: #000000;

@dark-text-color: #666666;
@darker-text-color: #333333;

@active-session-color: #f66;

@break-color: @white;
@activity-color: #b5ff78;
@plenary-color: #e3e2d5;
@morning-color: #fffba3;
@parallel-color: #adc8f7;
@saving-indicator-color: #1ac43c;
//@parallel-trainings-color: #b5ff78;

@slider-color: #ebedef;
@slider-value-color: @primary-color;
@slider-handle-color: @primary-color;

@stats-color: #f66;
