<template name="pageHome">
	<section class="home-page-section">
		<div class="container">
			<div class="col-xs-12 col-md-offset-2 col-md-8">
                <p class="p-lg">VOCO helps you track what's happening at the event you are attending, and importantly, to voice your opinions, and to understand how your peers are experiencing the event.</p>
			</div>
		</div>
	</section>

	<section class="home-page-section">
		<div class="container">
			<div class="col-xs-12 col-md-4 col-md-offset-4">
				<a href="/lectures" class="btn btn-primary btn-block">TRANSPARENCY SCHOOL '14</a>
			</div>
		</div>
	</section>
</template>
