<template name="pageEvaluation">
	<section class="evaluation-page-section">
		<div class="container">
			<h1 class="page-heading scaled">
				{{time}}: {{personnel}}<br/>{{title}}
			</h1>
		</div>
	</section>

	<script type="text/javascript">
		var localAnswers = {};

		function recomputeEvaluation(targetUid) {
			var slidersCount = 0;
			var evaluation = {
				target: targetUid,
				answers: localAnswers,
				average: 0
			};

			for(var uid in localAnswers) {
				evaluation.average += localAnswers[uid];
				slidersCount++;
			}

			evaluation.average = Math.floor(evaluation.average/slidersCount);

			return evaluation;
		}
	</script>

	<section class="evaluation-page-section">
		<div class="container">

			{{#if description}}
				{{> evaluationDescription}}
			{{/if}}

			{{#if canBeEvaluated}}

				{{#each getQuestions}}
					{{> evaluationQuestion}}
				{{/each}}

				<div class="row">
					<div class="col-md-offset-3 col-xs-offset-0 col-md-1 col-xs-3 text-center rating-box leftmost">
						<span class="glyphicon glyphicon-user"></span><br/>You
					</div>
					<div class="col-xs-3 col-md-2 text-center rating-box rating-value">
						<span class="glyphicon glyphicon-heart backgrounded"></span>
						<span id="user-rating-value">{{previousEvaluationAverage}}%</span>
					</div>

					<div class="col-xs-3 col-md-1 text-center rating-box">
						<span class="glyphicon glyphicon-home"></span><br/>School
						<div id="saving-indicator">SAVED!</div>
					</div>
					<div class="col-xs-3 col-md-2 text-center rating-box rating-value rightmost">
						<span class="glyphicon glyphicon-heart backgrounded"></span>
						<span>{{getSummaryStats.schoolAverage}}%</span>
					</div>
				</div>

				{{> evaluationFeedback}}

			{{/if}}

		</div>
	</section>
</template>

<template name="evaluationQuestion">
	<div class="row">
		<div class="col-xs-12 col-md-6 col-md-offset-3">
			<div class="question">
				<div class="question-text">{{question}}</div>
				<div id="evaluation-slider-{{uid}}" class="dragdealer evaluation-slider">
					<div class="handle evaluation-handle"><span class="value"></span></div>
				</div>
				<div class="percentage-indicator left">0%</div>
				<div class="percentage-indicator right">100%</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		localAnswers['{{uid}}'] = parseInt('{{previousAnswerValue ../uid}}');

		new Dragdealer('evaluation-slider-{{uid}}', {
			x: localAnswers['{{uid}}'] / 100,
			animationCallback: function(x, y) {
				var value = Math.round(x * 100);
				$('#evaluation-slider-{{uid}} .value').text(value + "%");
				localAnswers['{{uid}}'] = value;
				$('#user-rating-value').html(recomputeEvaluation('{{../uid}}').average + "%");
			},
			callback: function(x, y) {
				User.evaluate(recomputeEvaluation('{{../uid}}'));
			}
		});
	</script>
</template>

<template name="evaluationFeedback">
	<div class="row">
		<div class="col-xs-12 col-md-6 col-md-offset-3">
			<a id="feedback-show-button" class="btn btn-primary btn-block">Make a suggestion</a>
		</div>
	</div>
	<div id="feedback-input-row" class="row">
		<div class="col-xs-12 col-md-6 col-md-offset-3">
			<div class="feedback-hint">All feedback by the site admins.</div>
			<textarea id="feedback-input" class="form-control" rows="6"></textarea>
		</div>

		<div class="col-xs-12 col-md-6 col-md-offset-3">
			<a id="feedback-submit-button" class="btn btn-primary btn-block">Submit</a>
		</div>
	</div>
	<div id="feedback-success-row" class="row">
		Your suggestion has been submitted.
	</div>
</template>

<template name="evaluationDescription">
	<div class="row">
		<div class="col-xs-12 col-md-6 col-md-offset-3">
			<a id="description-show-button" class="btn btn-primary btn-block">Details</a>
		</div>
	</div>
	<div id="description-row" class="row" style="{{#if ../canBeEvaluated}}display: none;{{/if}}">
		<div class="col-xs-12 col-md-6 col-md-offset-3">
			{{formatAsParagraphs description}}
		</div>
	</div>
</template>
