<template name="mainFooter">
	<footer>
		<p>Brought to you by</p>
		<p>(ↄ) <a target="_blank" href="http://www.transparencyschool.org"><strong>Transparency International School on Integrity</strong></a></p>
	</footer>
</template>