<template name="pageLectures">
	<section class="lectures-page-section">
		<div class="container">
			<h1 class="page-heading">PROGRAMME | 7-13 July 2014</h1>
		</div>
	</section>

	<section class="lectures-page-section">
		<div class="container">
			<div class="panel-group" id="lectures-accordion">
				{{#each days}}
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#lectures-accordion" href="#{{date}}" class="{{#unless activeDay}}collapsed{{/unless}}">
									{{title}}, {{formatDaysDate date}}
								</a>
							</h4>
						</div>
                        <div id="{{date}}" class="panel-collapse collapse {{#if activeDay}}in{{/if}}">
							<div class="panel-body">
								<div class="container timeline-table">
									{{#each sections}}
                                        {{#if description}}
                                            <a href="{{pathFor 'evaluation'}}">{{> lecturesSection }}</a>
                                        {{else}}
                                            {{#if canBeEvaluated}}
                                                <a href="{{pathFor 'evaluation'}}">{{> lecturesSection }}</a>
                                            {{else}}
                                                {{> lecturesSection}}
                                            {{/if}}
                                        {{/if}}
									{{/each}}
								</div>
							</div>
						</div>
					</div>
				{{/each}}
			</div>
		</div>
	</section>

	<script type="text/javascript">
		$('body').on('show.bs.collapse', function(event) {
			var date = $(event.target).attr('id');
			var day = Days.findOne({date: date});

			App.stopSubscription('activeDaySummaryStats');
			App.subscribe('activeDaySummaryStats', 'summary-stats-by-selector', {target: {$in: day.getAllUids()}});
		});
	</script>
</template>

<template name="lecturesSection">
    <div class="section {{type}}-section {{#if isNow}}active{{/if}}">
        <div class="row">
            <div class="col-sm-2 col-xs-4 time-cell">
                {{#if isNow}}
                    <span class="glyphicon glyphicon-time"></span>
                {{/if}}
                {{time}}
            </div>
            <div class="col-sm-6 col-xs-8 title-cell">{{title}}</div>
            {{>sessionEvaluationsWidgets}}
        </div>
        {{#if lectures}}
            {{#each lectures}}
                <div class="row lecture-row">
                    <div class="col-sm-2 col-xs-4"></div>
                    <div class="col-sm-6 col-xs-8 lectures-cell">
                        {{#if description}}
                            <a href="{{pathFor 'evaluation'}}">{{> lecturesLecture}}</a>
                        {{else}}
                            {{#if canBeEvaluated}}
                                <a href="{{pathFor 'evaluation'}}">{{> lecturesLecture}}</a>
                            {{else}}
                                {{> lecturesLecture}}
                            {{/if}}
                        {{/if}}
                    </div>
                    {{>sessionEvaluationsWidgets}}
                </div>
            {{/each}}
        {{/if}}
    </div>
</template>

<template name="lecturesLecture">
	<div class="lecture">
		<span class="main-info">
			{{personnel}}
			{{#if groups}}
				(Groups {{groups}})
			{{/if}}
		</span>
		{{#if $neq title null}}
			- {{title}}
		{{/if}}
	</div>
</template>

<template name="sessionEvaluationsWidgets">
    <div class="clearfix hidden-md hidden-lg hidden-sm"></div>
    <div class="col-xs-offset-4 col-xs-4 col-sm-offset-0 col-sm-2 stats-cell">
        {{#if getSummaryStats.evaluationsCount}}
            <div class="stats-average">
                <span class="glyphicon glyphicon-heart"></span> {{getSummaryStats.schoolAverage}}%
            </div><!-- no-gap
        --><div class="stats-count">
                <span class="glyphicon glyphicon-user" style="font-size: 80%"></span> {{getSummaryStats.evaluationsCount}}
            </div>
        {{/if}}
    </div>
    <div class="col-sm-1 col-xs-4 view-cell">
        {{#if canBeEvaluated}}
            <a href="{{pathFor 'evaluation'}}" class="btn btn-primary btn-xs">Rate &gt;</a>
        {{/if}}
    </div>
</template>
